<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src = "https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

    <script type="text/javascript">
      function upVote() {
        console.log("In upVote!");
                    /*This is hard coded for now, but will be impleemented in the database for each image*/
        votes++;
        document.getElementById("upVotes").innerHTML = votes;

      }
    </script>

    <title><%= title %></title>
  </head>
  <body>
    <div class="header">
    <h1><a href="/" class="title">memespace</a></h1>
    <a href="/" class="logo">
      <img src="memespace.png" alt="memespace" style="width: auto; height: 80px; max-height: 100%">
    </a>
       <div class="flex-box">
          <div class="options">
             <a href="create" class="icon orange">add_circle</a>
             <% if(loggedin) { %>
               <a href="/signout" class="Icons">person</a>
             <%}else{%>
               <a href="/loginpage" class="icon babyblue">account_circle</a>
             <%}%>
          </div>
       </div>
    </div>