* {
   text-align: center;
}

h1:not(.header) {
}

body:not(.header) {
   margin-top: 20%;
}

body {
  font-family: Roboto;
  color: blue;
}

img {
  max-width: 300px;
}

.flex-box {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex-flow: row;
   justify-content: space-around;
   align-items: center;
}

.options {
   position: absolute;
   top: 53%;
   right: 1%;
   padding-right: 3%;
}

a ~ a {
padding-left: 20px;
}

.logo {
   color: blue;
   position: absolute;
   top: 3%;
   left: 5%;
}

.header > .logo {
   top: 53%;
}

.header {
   /*flex: 100%;*/
   width: 100%;
   position: fixed;
   top: 0;
   padding-top: 2%;
   background-color: #9C2DFE; /*light purplish*/
   color: white;
   border-bottom: solid;
   border-color: #9C2DFE;
}

.pic {
   flex: 50%;
   border-style: solid;
   border-color: blue;

}
