<%- include('../modules/header', {'title': 'Memespace | Home'}); %>
<h1>Your account</h1>

<form method="POST" action="/createaccount">

<input type="text" name="email"> 
<input type="password" name="password">

<input type="submit"/>
</form>
<%- include('../modules/footer', {}); %>
