<%- include('../modules/header', {'title': 'Memespace | Home'}); %>
<h1>Your account</h1>

<script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
<%- include('../modules/footer', {}); %>
