<%- include('../modules/header', {'title': 'Memespace | Home', 'user': user}); %>

<div id="addmeme">
<h1>Add a meme</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Name">
  <br/><br/>
  <input type="file" name="file"><br />
  <button type="submit" name="button" class="button">Upload</button>
</form>
<br>
</div>
<br/>
<div class="meme-generator">
  <h3>Create your own memes</h3>
  <canvas id="canvas" width="1000" height="1000"></canvas>
  <br/>
  <input onkeyup="draw()" type="text" id="cap1" placeholder="TOP TEXT"><br/>
  <input onkeyup="draw()" type="text" id="cap2" placeholder="BOTTOM TEXT"><br/>

  <div class="template-options">
    <% for (var i = 0; i < thumbnails.length; i++) { %>
      <div class="thumbnail">
        <img src="<%= thumbnails[i] %>" onclick="changeImage(event)">
      </div>
    <% } %>
  </div>

  <a id="download-link">Download</a>
</div>

<script type="text/javascript">
  var imagePath = 'like.jpg';
  function changeImage(event) {
    imagePath = event.srcElement.src;
    draw();
  }
  window.onload = draw;
  function draw() {
   var canvas = document.getElementById("canvas");
   var context = canvas.getContext("2d");
   var imageObj = new Image();
   imageObj.crossOrigin = 'Anonymous';
   imageObj.onload = function () {
     adjust(imageObj);
     context.drawImage(imageObj, 0, 0);
     context.font = imageObj.height / 10 + 'px Impact';
     context.fillStyle = 'white';
     context.strokeStyle = 'black';
     context.lineWidth = imageObj.height / 200;
     context.textAlign = 'center';
     var topText = document.getElementById('cap1').value;
     var btmText = document.getElementById('cap2').value;
     context.fillText(topText, imageObj.width / 2, imageObj.height / 10);
     context.fillText(btmText, imageObj.width / 2, imageObj.height * 9 / 10);
     context.strokeText(topText, imageObj.width / 2, imageObj.height / 10);
     context.strokeText(btmText, imageObj.width / 2, imageObj.height * 9 / 10);
     var downloadLink = document.getElementById('download-link');
     downloadLink.href = canvas.toDataURL();
     downloadLink.download = "your-meme.png";
   }
   imageObj.src = imagePath;
  };

  function adjust(imageObj) {
    var longSide = 'width';
    var shortSide = 'height';
    if (imageObj.height > imageObj.width) {
      shortSide = 'width';
      longSide = 'height';
    }
    var ratio = imageObj[shortSide] / imageObj[longSide];
    if (longSide > 1000) {
      imageObj[shortSide] = 1000 * ratio;
      imageObj[longSide] = 1000;
    }
    canvas[shortSide] = imageObj[shortSide];
    canvas[longSide] = imageObj[longSide];
  }
</script>

<%- include('../modules/footer', {}); %>
