<%- include('../modules/header', {'title': 'Memespace | Home'}); %>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <button type="submit" name="button">Upload</button>
</form>
<%- include('../modules/footer', {}); %>
