<%- include('../modules/header', {'title': 'Memespace | Home', 'loggedin' :loggedin}); %>

<h1>Your account</h1>
<form method="POST" action="/login">

    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <p>Don't have an account? Click <a href="/newaccount">here!</a></p>
<input type="submit"/>
</form>
<%- include('../modules/footer', {}); %>
